.button{
    text-align: center;

}

.centerAll{
    width: 100%;
}

.center{
    display: flex;
    margin-top: 5%;
    align-content: center;
    background-color: lightblue;
    margin-left: auto;
    margin-right: auto;

}

button:hover{
    background-color: lightcyan;
}

button:focus{
    background-color: cyan;
}