.delete-trainer-button{
    margin-top: 5%;
    align-content: center;
    background-color: lightblue;
}

.delete-trainer-button-holder{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}